* {
    font-family: "charter";
}

*::selection {
    background-color: #e6caf5;
}

body,html {
    background: #efede5;
}

article p {
    text-align: justify !important;
}

p, h1, h2, h3, a {
    font-family: "charter" !important;
}

.icon-social {
    width: 20px;
    height: 20px;
} 